.footerStructure{
    clear: both;
    width: 100%;
    height: 216px;
    background-color: rgb(47, 51, 54);
    color: white;
    /* top: 22px; */
    position: relative;
    margin-top: 50px;
 }
 .footerStructure  .footerWrapper{
     width: 1100px;
     margin: 0 auto;
     position: relative;
     padding-top: 40px;
     z-index: 6;
 }
 .footerTitleCreditTitle {
     
      -webkit-transition: all .4s ease;
         -moz-transition: all .4s ease;
         -ms-transition: all .4s ease;
         -o-transition: all .4s ease;
         transition: all .4s ease;
             color: rgba(255, 255, 255, 0.51);
 }
 .footerTitleCreditTitle:hover {
     color:white;
 }
 .secFooterStructure  .secFooterWrapper{
     width: 1100px;
     margin: 0 auto;
     position: relative;
 }
 .secFooterStructure .footerTitleCreditStructure{
     font-size: 10px;
     position: absolute;
     color: rgba(255, 255, 255, 0.51);
     top: 55px;
     left: 0px;
     font-weight: 200;
     letter-spacing: 1.7px;
     display: none;
 }
 .footerStructure .footerSection{
     width: auto;
     float: left;
     border-left: 2px solid #ffffff0d;
     padding-left: 4%;
     /* padding-right: 2%; */
     width: 20%;
 }
 
 .footerStructure .footerTitle{
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 17px;
    letter-spacing: normal;
 }
 .footerStructure  .footerTitleBold{
     font-weight: 700;
     margin-bottom: 5px;
 }
 .secFooterStructure{
         width: 100%;
         height: 51px;
         background-color: #202123;
 }
 .secFooterStructure .mainTitle{
       color: #ffffff;
       font-size: 12px;
       text-align: center;
       padding-top: 17px;
       font-size: 10px;
       font-weight: 200;
       letter-spacing: 1.7px;
       text-align: center;
       cursor: pointer;
 }
 .footerStructure  .scrollTopButton{
     position: absolute;
     right: 0px;
     width: 48px;
     height: 48px;
     border-radius: 100px;
     background-color: #ffffff;
     border: solid 1px #d5daea;
     text-align: center;
     cursor: pointer;
     top: -23px;
 }
 .footerStructure  .scrollTopButton img{
         margin-top: 15px;
 }
 .firstFooterSection {
    border-left: none!important;
}

.firstFooterSection img {
    width: 130px;
    position: relative;
    top: 27px;
    opacity: 0.8;
}
.secFooterWrapper .mainTitle img {
    width: 123px;
}
 @media screen and (max-width: 1020px){
 .footerStructure .footerWrapper,.secFooterStructure  .secFooterWrapper{
     width: 100%!important;
 }
 .footerStructure .footerWrapper{
      -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
     padding-left: 25px;
 }
 .secFooterStructure .footerTitleCreditStructure {
     font-size: 8px;
     position: absolute;
     color: rgba(255, 255, 255, 0.51);
     left: 0px;
     bottom: -15px;
     top: auto;
     font-weight: 200;
     letter-spacing: 1.7px;
     width: 100%;
     text-align: center;
 }
 .footerStructure{
         height: 409px;
         padding-bottom: 41px;
 }
 .footerStructure .footerSection{
         margin-top: 42px;
         width: 50%;
 }
 .footerStructure .footerTitle{
     line-height: 1.37;
 }
 .secFooterStructure .mainTitle{
         padding-top: 17px;
 }
 .footerStructure .scrollTopButton{
     right:20px;
 }
 .footerSection3{
     display: none;
 }
 .firstFooterSection {
    position: relative;
    top: -37px;
}
 }