
body{
     color: black;
    background-image: url(../../../../assets/icons/background-shapes.png);
    height: 483px;
    background-size: 149%;
    background-position-y: top;
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;
    background-color: #dccca30f;
    font-family: 'Assistant', sans-serif;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-transition: all .6s ease;
    -moz-transition: all .6s ease;
    -ms-transition: all .6s ease;
    -o-transition: all .6s ease;
    transition: all .6s ease;
    -webkit-overflow-scrolling: touch;
}
.creditStructure {
  text-align: center;
  width: 100%;
  position: relative;
  top: 17px;
  font-size: 11px;
  color: #ffffffc2;
  display: inline-block;
  z-index: 0;
}
.loadingStructure {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999999;
  background-color: black;
  text-align: center;
  -webkit-transition: all .6s ease;
  -moz-transition: all .6s ease;
  -ms-transition: all .6s ease;
  -o-transition: all .6s ease;
  transition: all .6s ease;
  opacity: 1;
}

.loadingWrapper img {
  width: 300px;
  top: 50%;
  position: absolute;
  margin-left: -150px;
  margin-top: -45px;
}
.thesaas-sections-split .section,
.thesaas-sections-split .main-content .topbar,
.thesaas-sections-split .main-content .site-footer {
  margin: 30px 50px 100px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
  border: 1px solid #ebebeb;
}

.thesaas-sections-split .main-content .topbar {
  position: static;
}

.thesaas-sections-split .main-content .topbar .topbar-toggler {
  display: none;
}

.thesaas-sections-split .section-info {
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  padding-top: 60px;
}

.thesaas-sections-split.topbar-reveal .main-content .topbar-nav {
  display: none;
}

@media (max-width: 768px) {

  .thesaas-sections-split .section,
  .thesaas-sections-split .main-content .site-footer {
    margin: 30px 0 100px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }

}


.logo-inverse {
  color: white;
}

.logo-inverse {
  font-size: 60px;
  position: relative;
  left: -43px;
  top: 8px;
  /* font-family: Aquawax; */
  font-family: 'Ubuntu', sans-serif;
  font-size: 50px;
  font-weight: 400;
  letter-spacing: 0px;
}

.logo-default {
  font-size: 34px;
  position: relative;
  left: -45px;
  font-weight: 400;
  /* font-family: Aquawax; */
  font-family: 'Ubuntu', sans-serif;
  color: #464646;
  top: -3px;
}
.topbar-right {
  /* margin-top: 40px; */
}

li.nav-item {
  margin-top: 0px;
}

a.nav-link {
  /* font-weight: 400!important; */
}
.body-scrolled li.nav-item{
  margin-top: 0px;
}
.body-scrolled .topbar.topbar-inverse.topbar-sticky .topbar-nav>.nav-item>.nav-link, .body-scrolled .topbar.topbar-inverse.topbar-sticky .topbar-toggler, .body-scrolled .topbar.topbar-inverse.topbar-sticky .drawer-toggler {
  color: #000000;
  /* top: 33px; */
}

.mainTitleKeyBoard {
    text-align: left;
    font-size: 19px!important;
    width: 100%;
    padding-left: 17%;
    color: black!important;
    margin-top: 15px;
    position: absolute;
}
span.text-primary {
  color: rgba(40, 63, 81, 0.62)!important;
  /* font-size: 18px; */
}
.SearchInputImageStructure {
  position: relative;
  width: 801px;
  text-align: center;
  z-index: -1;
  /* height: 40px; */
  margin: 0 auto;
}

img.SearchInputImage {
  position: absolute;
  width: 100%;
  left: 0px;
}
img.SearchInputIconImage {
  width: 550px;
}
.sectionContentStructure{
  position: relative;
  top: 8%;
}
.btnPrimaryMainSection{
  width: 200px!important;
  font-size: 13px!important;
  /* position: relative; */
  /* top: 52px; */
  background-color: #7b9f9d;
  border: none;
  cursor: pointer;
  /* box-shadow: 0px 0px 25px rgba(123, 159, 157, 0.18); */
}
.btnPrimaryMainSection:hover{
  background-color: #7b9f9d;
  box-shadow: 0px 0px 25px rgba(123, 159, 157, 0.38);
}
.separateLineMainSection{
 
}
.scroll-down-inverse{
  position: absolute;
  margin-left: -113px;
  margin-top: 45px;
}
.partnerSection{
  position: absolute;
  bottom: 0px;
  background-color: rgb(255, 255, 255);
  width: 100%;
  z-index: -1;
}
.scroll-down-inverse span{
  /*border-color: rgba(15, 172, 243, 0.46);*/
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-track {
  background-color: #eaeaea;
  border-left: 1px solid #ccc;
}
::-webkit-scrollbar-thumb {
  background-color: #afacad;
}
::-webkit-scrollbar-thumb:hover {
background-color: #aaa;
}
a.nav-link {
  /* font-size: 12px; */
  /* cursor: pointer; */
}

.site-footer a.nav-link {
    color: #ffffffc2;
    margin-top: -2px;
    border: none;
    /* margin-right: 20px; */
}
.SearchInputMobileImage{
  display: none;
}
.mainTitleKeyBoardMobile{
  display: none;
}
.centerSection{
  text-align: center;
}
.aboutLucyMainDiv {
  float: unset;
  width: 80%;
  margin-right: 50px;
  position: relative;
  text-align: center;
  position: relative;
  margin: 0 auto;
}
.aboutLucyVideoStructure{
  float: left;
}
#productsSection {
  overflow: hidden;
}
.nav-dot-separated .nav-item::after, .nav-dot-separated > .nav-link::after {
display: none;
}
.LoadingStructure {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgb(123, 157, 155);
  z-index: 9999;
}

.LoadingTitleStructure {
  width: 60px;
  position: relative;
  margin: 0 auto;
  color: white;
  text-align: center;
  font-size: 25px;
  font-family: Aquawax;
  /* top: 50%; */
  /* height: 20px; */
}

.LoadingTitle {
  position: fixed;
  top: 50%;
  /* margin-left: 20px; */
}
.purchaseTitle{
  font-size: 28px;
}
.logo-inverse img{
  width: 56px;
  height: auto;
  max-height: none;
  position: relative;
  left: -30px;
  /* left: 700px; */
  top: -10px;
  z-index: -1;
}
.logo-default img{
  width: 43px;
  height: auto;
  max-height: none;
  position: relative;
  left: -15px;
  /* left: 700px; */
  top: 6px;
  z-index: -1;
}
button.topbar-toggler {
  position: relative;
  top: 8px;
  z-index: 2;
}
.additionalPagesFooterStructure {
  float: right;
  position: absolute;
  right: 0px;
  top: 18px;
  color: #ffffffc2;
  z-index: 2;
}
.site-footer a.nav-link {
  margin-right: 20px;
}
a.nav-link {
    text-align: center;
    float: left;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1.5px;
    height: 33px;
    color: #000000;
    /* padding-top: 8px; */
    /* padding-bottom: 8px; */
    opacity: 0.5;
    /* margin-right: 60px; */
    cursor: pointer;
    white-space: nowrap;
    -webkit-transition: all .6s ease;
    -moz-transition: all .6s ease;
    -ms-transition: all .6s ease;
    -o-transition: all .6s ease;
    transition: all .6s ease;
    text-transform: uppercase;
    top: 0px;
    margin-top:  0px;
}
.topbar-expand-md .topbar-nav {
    position: absolute;
    top: 0px;
    left: 50px;
}
.mainSection {
    /* background: url('../../../assets/icons/background-shapes.png'); */
    /* height: 483px; */
    text-align: center;
    position: relative;
    top: 0px;
}

.mainSection .mainTitle {
    margin-top: 201px;
    display: inline-block;
    font-size: 28px;
    letter-spacing: 1.5px;
    -webkit-transition: all .6s ease;
    -moz-transition: all .6s ease;
    -ms-transition: all .6s ease;
    -o-transition: all .6s ease;
    transition: all .6s ease;
    width: 76%;
    margin-top:  216px;
}

.mainSection .buttonDiamond {
    width: 168px;
    background-color: white;
    border-radius: 200px;
    height: 32px;
    padding-top: 21px;
    padding-bottom: 11px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.8px;
    background-color: #ffffff;
    transform: scale(1);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    /* box-shadow: 0 2px 2px 0px #d8d8d8; */
    cursor: pointer;
    opacity: 1;
    -webkit-transition: all .6s ease;
    -moz-transition: all .6s ease;
    -ms-transition: all .6s ease;
    -o-transition: all .6s ease;
    transition: all .6s ease;
}

.mainSection .buttonDiamond:hover {
    transform: scale(0.98);
}

.mainSection .buttonDiamond:active {
    transform: scale(0.90);
}

.mainSection .buttonDiamondWhite {
    float: left;
}

.mainSection .buttonDiamondWhite:hover {}

.mainSection .buttonDiamondYellow {
    float: right;
    background-color: rgb(248, 195, 45);
    width: 181px;
}

.mainSection .buttonDiamondYellow:hover {}

.mainSection .buttonDiamondWrapper {
    width: 388px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 45px;
    height: 50px;
}

.mainPage {
    background-color: #dccca30f;
    /* padding-bottom: 200px; */
}

.mainContentWrapper {
    width: 76%;
    position: relative;
    margin-left: auto;
    margin-top: 0px;
    margin-right: auto;
    /* padding: 0 20px 50px 8px; */
    -webkit-transition: all .6s ease;
    -moz-transition: all .6s ease;
    -ms-transition: all .6s ease;
    -o-transition: all .6s ease;
    transition: all .6s ease;
}

.startPageTopStructure {
    display: flex;
    justify-content: space-between;
}

.startPageImageWrapper {
    /* padding-right: 120px; */
    position: absolute;
    right: 0px;
    top: 35%;
    display: none;
}
.startPageTopStructure img {
    width: 290px;
    position: relative;
    top: -43px;
    left: 0px;
}

.recommendedSection .mainTitle {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.3px;
}

.recommendedSection .secTitle {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.31;
    letter-spacing: 0.3px;
    color: #000000;
}

.recommendedSection .buttonViewMore {
    float: right;
    font-size: 10px;
    width: 98px;
    text-align: center;
    /* padding: 8px; */
    border-radius: 100px;
    color: grey;
    font-weight: 700;
    margin-top: 10px;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.2px;
    padding-top: 11px;
    padding-bottom: 10px;
    background-color: #ffffff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}

.recommendedSection {
    margin-top: 10px;
    /* padding-bottom: 45px; */
    /* display: none; */
}

.recommendedSection .results {
    margin-top: -9px;
    height: 332px;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
}

.recommendedSection .results .productCardStructure {
    margin-bottom: 50px;
}

.teaserSectionStructure {
    width: 100%;
    /* top: 50px; */
    height: 422px;
    /* margin-top: -66px!important; */
    clear: both;
    margin: 0 auto;
    background-image: url('../../../assets/peach-diamond-background.png');
    background-size: 100%;
    position: relative;
    margin-top: 57px;
}

.teaserSectionWrapper {
    width: 1100px;
    margin: 0 auto;
}

.teaserSectionTitle {
    /* font-size: 36px; */
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    /* line-height: 1.11; */
    letter-spacing: 1.8px;
    padding-top: 96px;
    font-size: 49px;
    line-height: 0.82;
    color: #000000;
}

.teaserSectionSecTitle {
    font-size: 36px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.11;
    letter-spacing: 1.8px;
}

.teaserSectionButton {
    position: relative;
    border-radius: 100px;
    background-color: #ffffff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    color: black;
    width: 210px;
    height: 47px;
    margin-top: 25px;
    /* margin-left: 35px; */
    cursor: pointer;
}

.teaserSectionButtonTitle {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.8px;
    text-align: center;
    padding-top: 21px;
    cursor: pointer;
}

.teaserSectionButtonImg {
    width: 550px;
    float: right;
    margin-top: -18px;
}

.teaserSectionButtonImg img {
    width: 100%;
}

.generalSearchStructure {
    display: none;
}

.generalSearchIconStructure {
    display: none;
}

.mainFilterButtonShapeImageStructure {
    float: left;
    width: 56px;
}

.mainFilterButtonShapeImage {
    display: none;
}

.mainFilterButtonShapeImageActive img {
    width: 38px;
}

.mainFilterButtonShapeImageActiveTitle {
    display: none;
}

.recentlyViewedSection .mainTitle {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.3px;
}

.recentlyViewedSection {
    clear: both;
    top: 45px;
    position: relative;
    display: none!important;
    height: 308px;
}

.recentlyViewedSection .buttonViewMore {
    float: right;
    font-size: 10px;
    width: 98px;
    text-align: center;
    /* padding: 8px; */
    border-radius: 100px;
    color: grey;
    font-weight: 700;
    margin-top: 10px;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.2px;
    padding-top: 11px;
    padding-bottom: 10px;
    background-color: #ffffff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}

.recentlyViewedSection .secTitle {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.31;
    letter-spacing: 0.3px;
    color: #000000;
    margin-bottom: 24px;
}

.smallCard .productCardStructure .itemStructure {
    /* width: 30%; */
    /* height: 155px!important; */
    /* margin-right: 8px; */
    /* margin-bottom: 30px!important; */
}

.smallCard .itemWrapper {
    /* width: 175px!important; */
}

.smallCard .itemImage {
    /* height: 144px!important; */
}

.smallCard .itemAttrStructure {
    font-size: 10px!important;
    padding-left: 6px!important;
    padding-top: 5px!important;
    height: 15px!important;
    /* overflow: hidden; */
    padding-bottom: 7px;
    /* line-height: 26px; */
}

.smallCard .itemCost {
    font-size: 12px!important;
    margin-right: 3px!important;
    color: black;
    top: -1px;
}

.smallCard .itemAttr {
    font-size: 11px!important;
    margin-left: 2px!important;
}

.smallCard .itemDiscount {
    font-size: 10px!important;
    right: 6px!important;
    top: -23px!important;
}

.smallCard .productCardStructure .itemSection .floatButtonStructure {
    right: -5px;
    top: 0px;
}

.smallCard .productCardStructure .itemSection .floatButtonIcon {
    width: 25px;
    height: 25px;
    /* margin-top: 36px; */
}

.smallCard .productCardStructure .itemSection .wishListIcon img {
    width: 15px;
    top: 6px;
    left: 5px;
}

.smallCard .productCardStructure .itemSection .cartIcon img {
    width: 14px;
    top: 6px;
    left: 5px;
}

.smallCard .productCardStructure .itemSection .wishListIcon {
    margin-top: 34px;
    margin-bottom: 4px;
}

.productCardStructure .image360Icon {
    top: 0px;
    /* margin-top: 0px; */
    /* bottom: 200px!important; */
    width: 34px!important;
    height: 18px!important;
    right: 4px;
}

.smallCard .productCardStructure .itemSection .floatButtonStructureImage360 {
    top: 96px;
}

.smallCard .productCardStructure .image360Icon div {
    font-size: 10px;
    right: 4px;
    text-align: right;
    top: -2px;
    position: relative;
}

.smallCard .productCardStructure .image360Icon {
    width: 28px!important;
    height: 15px!important;
    top: -1px;
    right: 5px;
    padding-right: 7px;
}

.smallCard .productCardStructure .loadingImage360 {
    top: 59px;
}

.smallCard .productCardStructure .loadingImage360 img {
    width: 23px;
}

.smallCard .moreDetailsFloatIcon {
    font-size: 10px;
    padding-top: 3px;
    padding-bottom: 0px;
    width: 55px;
}

.smallCard .productCardStructure .itemAlreadyWishListStructure {
    /* right: 26px; */
    right: 22px;
    top: -15px;
}

.smallCard .productCardStructure .itemAlreadyWishListStructure img {
    width: 28px;
}

.smallCard .productCardStructure .itemAlreadyCartStructure img {
    width: 25px;
}

.smallCard .productCardStructure .itemAlreadyCartStructure {
    right: -5px;
    top: -15px;
}

.mobileAlertBlurStructure {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 50;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    -webkit-transition: all .6s ease;
    -moz-transition: all .6s ease;
    -ms-transition: all .6s ease;
    -o-transition: all .6s ease;
    transition: all .6s ease;
    display: none;
}

.mobileAlertStructure {
    position: fixed;
    z-index: 51;
    top: 50%;
    left: 0px;
    width: 100%;
    margin-top: -98px;
    -webkit-transition: all .6s ease;
    -moz-transition: all .6s ease;
    -ms-transition: all .6s ease;
    -o-transition: all .6s ease;
    transition: all .6s ease;
    display: none;
}

.mobileAlertWrapper {
    width: 80%;
    background-color: white;
    position: relative;
    /* left: 10%; */
    /* top: 50%; */
    border-radius: 5px;
    /* overflow: hidden; */
    max-width: 400px;
    margin: 0 auto;
}

.mobileAlertHeaderSturcture {
    /* background-color: black; */
    color: white;
    text-align: center;
}

.mobileAlertHeaderTitle {
    /* font-size: 15px; */
    /* letter-spacing: 15px; */
    /* text-align: center; */
    /* color: #ffffff; */
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.9px;
    /* text-transform: uppercase; */
    text-align: center;
    color: black;
    padding-top: 25px;
}

.mobileAlertBody {
    text-align: center;
    width: 80%;
    left: 10%;
    position: relative;
    font-size: 15px;
    padding-top: 20px;
}

.mobileAlertButtonStructure {
    background-color: #627fe7;
    height: 70px;
    margin-top: 29px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.mobileAlertButton {
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.9px;
    text-align: center;
    color: #ffffff;
    padding-top: 26px;
    /* margin-top: 25px; */
}

.mobileAlertHeaderButton {
    position: absolute;
    top: 15px;
    right: 15px;
}

.mobileAlertHeaderButton img {
    width: 15px;
    height: 15px;
}

.smallCard .productCardStructure {
    width: 170px!important;
    margin-right: 1%;
}

.smallCard .itemAttrLeftStructure {
    width: 100%;
    height: 19px;
    /* background-color: red; */
    overflow: hidden;
    float: left;
    padding-right: 46px;
    position: absolute;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@media screen and (max-width: 1357px) {
    .teaserSectionWrapper {
        width: 900px;
    }
}

@media screen and (max-width: 1020px) {
    .mainContentWrapper {
        width: 100%!important;
        /* overflow: hidden; */
    }
    .mainSection .mainTitle {
        font-size: 22px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.64;
        letter-spacing: 0.3px;
        text-align: center;
        color: #000000;
        letter-spacing: 0.2px;
        width: 90%;
        margin-top: 140px;
    }
    .mainSection .buttonDiamond {
        width: 135px;
        height: 60px;
        padding-bottom: 0px;
        padding-top: 20px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        font-size: 16px;
        font-weight: 600;
        text-align: center;
        color: #000000;
    }
    .recommendedSection .buttonViewMore {
        width: 165px;
        height: 50px;
        border-radius: 100px;
        background-color: #ffffff;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        color: #7d808b;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding-top: 14px;
        margin-bottom: 21px;
        position: relative;
        margin: 0 auto;
        float: none;
        margin-bottom: 30px;
        margin-top: 20px;
        display: none;
    }
    .mainSection .buttonDiamondWrapper {
        width: 285px;
    }
    .mainSection {
        background-size: 1556px 100%;
        background-repeat: no-repeat;
        height: auto;
    }
    .mainContentWrapper {
        padding-left: 2%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        /* padding-right: 2%; */
    }
    .resultsStructure {
        width: 100%;
        overflow-x: auto;
        overflow-y: hidden;
        /* padding-top: 17px; */
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-overflow-scrolling: touch;
    }
    .results {
        display: flex;
    }
    .teaserSectionWrapper {
        width: 100%!important;
    }
    .teaserSectionStructure {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding-left: 15px;
    }
    .teaserSectionButtonImg {
        width: 100%;
        margin-top: 20px;
        max-width: 500px;
        position: relative;
        margin: 0 auto;
        float: none;
    }
    .teaserSectionStructure {
        background-repeat: no-repeat;
        background-size: 3000px 100%;
    }
    .teaserSectionButton {
        width: 186px;
        height: 50px;
        border-radius: 100px;
        background-color: #ffffff;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        color: #7d808b;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        /* padding-top: 14px; */
        margin-bottom: 21px;
        position: relative;
        margin: 0 auto;
        float: none;
        margin-bottom: 58px;
        /* margin-top: 122px; */
        clear: both;
        top: 26px;
    }
    .teaserSectionButtonTitle {
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        color: #7d808b;
        padding-top: 21px;
        margin-top: 14px;
    }
    .results1 {
        position: relative;
        margin: 0 auto;
        width: 100%;
    }
    .results .productCardStructure .itemStructure {
        width: 200px!important;
    }
    .results .productCardStructure {
        width: 100%!important;
    }
    .smallCard .productCardStructure {
        width: 30%!important;
    }
    .smallCard .itemAttrLeftStructure {
        width: 100%;
        height: 19px;
        /* background-color: red; */
        overflow: hidden;
        float: left;
        padding-right: 61px;
        position: absolute;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
}

.wishListStructure {
    display: none!important;
}

.checkOutButton {
    /* display: none; */
}

.memberShowStructure.rightNavBarStructure {
    display: none;
}

.memberHiddenStructure.rightNavBarStructure {
    display: none;
}

.navBarTitle {
    /* display: none; */
}

div#header5_button {
    display: none!important;
}

.miniCartStructure {
    /* display: none!important; */
}

.teaserSectionStructure {
    margin-top: -66px!important;
    background-image: url(../../../assets/blue-diamond-background@2x2.png);
    /* transform: rotate(180deg); */
}

.mainSection .mainTitle {
    /* margin-top: 216px; */
}

.mainSection .mainTitleText {
    width: 100%;
    color: black;
    font-size: 19px;
    text-align: justify;
    /* padding-left: 258px; */
    position: relative;
}

.teaserSectionTitle {
    font-size: 39px;
    position: relative;
    top: 33px;
}

.teaserSectionSecTitle {
    font-size: 29px;
}

.teaserSectionButtonTitle {
    font-size: 13px;
    position: relative;
    top: -5px;
}

.mainHeaderStructure .loginButton {
    margin-top: 13px!important;
    display: none;
}

/* Custom Results Structure Styles */

.recommendedSection {
    margin-top: 10px;
}
.recommendedSection .results {
    margin-top: -9px;
    padding-top: 27px;
    padding-bottom: 36px;
    height: 212px;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    background-color: transparent;
    display: none;
}
.productCardStructure {
    position: relative;
    width: 18% !important;
    float: left;
    margin: 0 0 50px 0 !important;
}
.productCardStructure .itemWrapper {
}

.productCardStructure .itemSection .itemAttrStructure {
}
.mainTitleStart {
    position: absolute;
    top: -47px;
    width: 100%;
    /* justify-content: left; */
    /* display: flex; */
    font-size: 30px;
    font-weight: 600;
}
.boxSectionCenter {
    height: 47px;
}

.boxSectionCenterTitle {
    font-size: 32px;
    font-weight: 600;
    color: #4d4d4d;
    position: relative;
    margin-top: -23px;
    padding-bottom:  7px;
    top: -7px;
    text-transform: inherit;
}

.boxSectionCenterWrapper {
    position: relative;
    top: -22px;
}
.boxSectionCenterImg {
    position: absolute;
    top: -18px;
    left: 300px;

}
.boxSection2grids {
    width: 100%;
    position: relative;
    margin: 0 auto;
    margin-top: 1px;
    clear: both;
    /* display: inline-grid; */
    /* margin-bottom: 300px; */
    margin-top: 89px;
    margin-bottom: 67px;
    display: inline-block;
    bottom: 0%;
    left: 0%;
}

.boxSection2gridsWrapperLeft {
    width: 50%;
    float: left;
}

.boxSection2gridsWrapperImg img {
    width: 90%;
    position: relative;
    top: 11px;
}

.boxSection2gridsWrapperRight {
    float: right;
    width: 45%;
}

.boxSectiongridsWrapperTitle {
    font-size: 20px;
    font-weight: 600;
    padding-top: 43px;
    text-align: left;
}

.boxSectiongridsWrapperDescription {
    margin-top: 9px;
    font-size: 15px;
    color: #000000c4;
    text-align: left;
}
.mainDescStart {
    width: 52%;
}
.mainDescStartWidget {
    position: absolute;
    top: -60px;
    right: 0px;
    width: 40%;
    height: 250px;
    overflow: hidden;
}
ul.nav.nav-inline.nav-primary.nav-dotted.nav-dot-separated.justify-content-center.justify-content-md-end {
    display: none;
}
.checkoutButtonHeader {
    text-align: center;
    float: left;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.5px;
    padding-top: 7px;
    font-weight: 500;
    padding-bottom: 8px;
    opacity: 1;
    cursor: pointer;
    color: white;
    width: 103px;
    height: 39px;
    background-color: rgb(0, 0, 0);
    opacity: 1;
    border-bottom-left-radius: 20px;
    /* position: relative; */
    top: 3px;
    border-bottom-right-radius: 20px;
    border-bottom: 2px solid #3f3f3fe6;
    /* letter-spacing: 0.5px; */
    /* padding-top: 11px; */
    /* padding-bottom: 11px; */
    margin-top: -3px;
    position: absolute;
    right: 0px;
}
.getStartedButtonFooter {
    display: none;
}
@media screen and (max-width: 1357px) {
.mainDescStartWidget {
    right: -114px;
}
}
@media screen and (max-width: 1020px) {
    
     .mainTitleStart {
    font-size: 25px;
    /* top: 0px; */
}
.mainStartLogo{
    left: 0px;
    max-width: 70%;
}
.mainTitleText {
    width: 100%!important;
}

.mainSection .mainTitle {
    /* margin-top:  100px; */
}

.mainTitleText {
    width: 100%!important;
}
.boxSectionCenter{
    height: auto;
}
.boxSectionCenterImg {
    position: relative;
    top: 0px;
    text-align: center;
    left: 0px;
}
.startPageImageWrapper {
    display: none;
}
.mainDescStart {
    margin-top: -80px;
    width: 100%;
}
.footerWrapper {
    margin-top:  100px!important;
}
.mainPage{
    background-color: #fcfcf9;
}
.boxSectionCenterTitle{
    font-size: 30px;
    text-align: center;
}
.mainDescStartWidget {
    position: relative;
    right: 0px;
    width: 100%;
    top: 14px;
    height: unset;
    overflow: auto;
}

.boxSection2gridsWrapperLeft {
    width: 100%;
}

.boxSection2gridsWrapperRight {
    width: 100%;
    margin-top: 1px;
}

.boxSectiongridsWrapperTitle {
    text-align: center;
}

.boxSectiongridsWrapperDescription {
    text-align: center;
}

.boxSection2grids {
    margin-top: 1px;
    margin-bottom: 0px;
}
.topbar-expand-md .topbar-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    flex-wrap: nowrap;
    position: fixed;
    overflow: auto;
    left: -300px;
    top: 0;
    bottom: 0;
    width: 300px;
    background-color: #fff;
    margin: 0;
    padding: 30px;
    -webkit-transition: .3s;
    transition: .3s;
}
.checkoutButtonHeader{
    display: none;
}
nav.topbar.topbar-inverse.topbar-expand-md.topbar-sticky {
    /* background-color: #637481; */
    /* height: 50px; */
}

.logo-title {
    /* display: block!important; */
    /* left: 0px; */
    position: absolute;
    top: 17px;
    left: 0px;
    width: 100%;
    text-align: center;
}

button.topbar-toggler {
    color: white;
    position: absolute;
    top: 26px;
    font-size: 27px;
}
button.topbar-toggler {
    display: none!important;
}

.logo-inverse img {
    left: 0px;
    top: 0px;
}

a.topbar-brand {
}

.logo-default img {
    left: 0px!important;
    top: 8px!important;
}
.getStartedButtonFooter {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: #637481;
    left: 0px;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
    box-shadow: 0px 0px 30px 0px #00000038;
    border-top: 2px solid #637481;
    display: block;
    padding-top: 5px;
    cursor: pointer;
    padding-bottom:  5px;
}
}



